
*{
    margin: 0px;
    padding: 0px;
}
:root {
    --primary-bg: #4ca0e7;
    --light-bg: rgb(245, 245, 245);
    --white: #fff;
    --text-color: #1b1b1b;
    --hover-color: purple;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-bg);
}

/* NAVBAR */
nav {
    height: 80px;
    background: var(--primary-bg);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
}
nav .logo{
    margin-left: -30px;
    width: 180px;
}
nav .logo img{
    width: 100%;
    border-radius: 15px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    margin: 0 5px;
}
nav ul li a{
    color: var(--white);
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    padding: 8px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
nav ul li a:hover{
    background: var(--white);
    color: var(--text-color);
}
nav .menu-btn i {
    color: var(--white);
    font-size: 22px;
    cursor: pointer;
    display: none;
}

#click{
    display: none;
}

/* MAIN */
main{
    min-height: calc(100vh - 80px - 122px);
    width: 90vw;
    margin: 0 auto;
    padding: 10px 10px;
    background-color: var(--light-bg);
}
article{
    background-color: var(--white);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
}
article p{
    margin-top: 16px;
    line-height: 24px;
}
article ul{
    padding-left: 20px;
}
/* FOOTER */
footer{
    color: var(--white);
    background: var(--primary-bg);
    text-align: center;
}
footer .container{
    margin: 0 auto;
    padding: 2px;
    display: inline;
}
footer .media-icons{
    margin: 10px auto;
}
footer ul li {
    display: inline;
    padding: 1em;
}
footer ul a {
    color: var(--white);
    text-decoration: none;
}
footer ul li a i{
    font-size: 24px;
}
footer ul li a i:hover{
    color: var(--hover-color);
}
footer p{
    margin: 0 auto;
    max-width: 40em;
    font-size: 0.8em;
    line-height: 12px;
}

@media (max-width: 720px) {
    nav .logo{
        width: 150px; 
    }
    nav .menu-btn i {
        display: block;
    }
    #click:checked ~ .menu-btn i:before{
        content: "\f00d";
    }
    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background: #111;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: center;
        transition: all 0.3s ease;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 40px 0;
    }
    nav ul li a{ 
        font-size: 20px;
        display: block;
    }
    nav ul li a:hover{
        color: var(--primary-bg);
        background: none;
    }
}
